__pycache__/
*.pyc
logs/
.venv/
config/config.json
config/config.json.bak
config/contacts_cache.json
config/config - 副本.json
config/config-wx_05.json
config/contacts_cache - 副本.json
config/pending_friends.json
wxbot_*.log
*.png
/config/webhook.json
